[ req ]
req_extensions     = req_ext
distinguished_name = req_distinguished_name
prompt             = no

[req_distinguished_name]
commonName={{ bookinfo_project }}.apps.{{ subdomain }}

[req_ext]
subjectAltName   = @alt_names

[alt_names]
DNS.1  = {{ bookinfo_project }}.apps.{{ subdomain }}
DNS.2  = *.{{ bookinfo_project }}.apps.{{ subdomain }}
