---
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: {{ item }}-mtls
spec:
  host: {{ item }}.{{ bookinfo_project }}.svc.cluster.local
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
